.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently*/
}

header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    // background: transparent;
    z-index: 100;
    background-color: rgba(0,0,0,.75);

    animation: .5s ease-out 0s 1 hslide1;

    .logo {
        display: table;
        float: left;

        .logo-img {
            display: table-cell;
            vertical-align: middle;
            width: 44px;
            height: 44px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url("../img/logo-orange.svg");
        }

        span {
            .font-light();
            display: table-cell;
            vertical-align: middle;
            padding-right: 15px;
            font-size: 3.5rem;
            color: @white;
        }
    }

    .menu {
        display: table;
        float: right;
        height: 44px;
        position: relative;

        .btn {
            display: table-cell;
            vertical-align: middle;
        }

        .menu-open {
            .rounded-corners(50%);
            display: table-cell;
            color: @white;
            font-size: 2rem;
            height: 44px;
            text-align: center;
            width: 44px;
            // border: 2px solid @white;
            vertical-align: middle;
            transition: .4s all ease-in-out;

            &.active {
                .rotate(90deg);
            }
        }

        ul {
            display: none;
            position: absolute;
            right: 0;
            top: 100px;
            width: 200px;
            background-color: @white;

            li {
                a {
                    display: block;
                    padding: 10px;
                    text-align: center;
                    transition: .2s all ease-in-out;
                }

                &:hover {
                    a {
                        background: rgb(255,178,15);
                        background: linear-gradient(130deg, rgba(255,178,15,.1) 0%, rgba(255,45,94,.1) 100%);
                    }
                }
            }
        }
    }
}

@keyframes slide1 {
    0% {
        margin-right: -50px;
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes slide2 {
    0% {
        margin-left: -150px;
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        margin-left: 25px;
        opacity: 1;
    }
}

@keyframes slide3 {
    0% {
        opacity: 0;
        margin-top: 200px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: 100px;
    }
}

@keyframes slide4 {
    0%, 75% {
        right: 50%;
        left: 50%;

    }

    100% {
        right: 35%;
        left: 35%;
    }
}

footer {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .footer-filter {
        width: 100%;
        height: 100%;
        background: rgb(9,12,20);
        background: linear-gradient(180deg, rgba(9,12,20,1) 0%, rgba(9,12,20,0.22592787114845936) 30%, rgba(9,12,20,0) 100%);
    }

    .footer-content-wrap {
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;
        justify-content: space-between;
        text-align: center;

        .block {
            display: block;
            width: 25%;
            flex-basis: 25%;
            text-align: center;

            .mg {
                margin-bottom: 15px;
            }

            ul {
                list-style: none;

                li {
                    .font-semibold();
                    cursor: pointer;
                    color: @white;
                    margin-bottom: 10px;
                }
            }

            h3 {
                .font-semibold();
                color: @white;
                font-size: 4rem;
                margin-bottom: 15px;
            }

            p{
                .font-regular();
                font-size: 2rem;
                color: @white;
                line-height: 1.5em;

                a {
                    .font-semibold();
                    color: @magenta;
                    transition: .2s all ease-in-out;

                    &:hover {
                        filter: brightness(150%);
                    }
                }
            }
        }
    }
}

.sec-intro {
    display: block;
    min-height: 600px;
    height: 100vh;
    width: 100%;
    z-index: 200;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 0;


    .tp {
        display: block;
        position: absolute;
        width: 60px;
        height: 40px;
        left: 50%;
        bottom: 50px;
        color: @white;
        text-align: center;
        transform: translate(-50%, 0);
        transition: .2s all ease-in-out;

        &:hover {
            bottom: 45px;
        }

    }

    .intro-filter {
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(9,12,20,0) 0%, rgba(9,12,20,0.35) 40%, rgba(9,12,20,0.5) 80%, rgba(9,12,20,1) 100%);

        .content {
            padding-top: 20%;
            text-align: center;

            h2 {
                .font-light();
                font-size: 15rem;
                text-align: center;
                color: @white;
                margin-right: 0;
                animation: 1.5s ease-in-out 0s 1 slide1;

                &:after {
                    content: "";
                    display: inline-block;
                    margin-left: 25px;
                    animation: 1.5s ease-in-out 0s 1 slide2;
                    width: 120px;
                    height: 120px;
                    margin-bottom: -25px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-image: url(../img/logo-orange.svg);
                }
            }

            h3 {
                .font-light();
                color: @white;
                font-size: 5rem;
                margin-bottom: 30px;

                strong {
                    .font-semibold();
                }
            }

            .fade {
                display: block;
                position: relative;
                margin-top: 100px;
                animation: 2s ease-in-out 0s 1 slide3;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -45px;
                    right: 35%;
                    left: 35%;
                    height: 3px;
                    background-color: @white;
                    animation: 2.5s ease-in-out 0s 1 slide4;
                }
            }

            span {
                .font-regular();
                display: block;
                color: @white;
                font-size: 2rem;
                margin-bottom: 50px;
            }
        }
    }
}

.button {
    display: block;
    text-align: center;

    .btn {
        display: inline-block;
        height: unset;
    }
}

.btn {
    .rounded-corners(30px);
    display: block;
    font-size: 1.8rem;
    padding: 15px 30px;
    transition: .2s all ease-in-out;

    span {
        vertical-align: middle;
    }

    &.btn-orange {
        color: @white;
        // height: 45px;
        background: rgb(255,178,15);
        background: linear-gradient(130deg, rgba(255,178,15,1) 0%, rgba(255,45,94,1) 100%);

        &:hover {
            -webkit-box-shadow: 0px 2px 62px 1px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 2px 62px 1px rgba(0,0,0,0.3);
            box-shadow: 0px 2px 62px 1px rgba(0,0,0,0.3);
        }

        i {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            transition: .2s all ease-in-out;
        }
    }

    &.btn-donate {
        .font-semibold();
        color: @white;
        background-color: @orange;
    }
}

.title-line {
    .font-bold();
    display: block;
    position: relative;
    font-size: 6rem;
    color: @white;
    padding-bottom: 50px;
    text-align: center;

    &:after {
        .rounded-corners(3px);
        content: "";
        display: block;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        height: 6px;
        width: 75px;
        background-color: @white;
    }
}

.sec-content {
    .clearfix();
    display: block;
    background-color: @gray2;

    .content-block-imagine {
        padding-top: 200px;
        margin-bottom: 250px;

        p {
            .font-bold();
            padding: 5px 0;
            color: @white;
            text-align: center;
            font-size: 3.2rem;

            &:last-of-type {
                .font-regular();
                font-size: 2.4rem;
            }
        }
    }

    .content-block-perks {
        margin-bottom: 250px;

        h2 {
            margin-bottom: 25px;
        }

        ul {
            display: flex;
            width: 65%;
            margin: auto;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-between;
            text-align: center;

            li {
                display: inline-block;
                width: 300px;
                flex-basis: 300px;
                color: @white;

                .icon {
                    .font-bold();
                    font-size: 6rem;
                    margin-bottom: 10px;

                    i {
                        background: -webkit-linear-gradient(top left, @orange, @magenta);
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                    }
                }

                h3 {
                    .font-bold();
                    font-size: 2rem;
                }
            }
        }
    }
}

.dot-list {
    list-style: none;

    li {
        .font-bold();
        display: block;
        position: relative;
        font-size: 2rem;
        color: @white;
        margin-bottom: 15px;
        padding-left: 40px;

        &:before {
            content: "";
            .rounded-corners(50%);
            display: block;
            position: absolute;
            left: 0;
            top: 3px;
            width: 20px;
            height: 20px;
            background-color: @white;
        }
    }
}

.downloads {
    .clearfix();
    display: block;
    min-height: 600px;
    height: 100vh;
    background-color: @gray2;

    span {
        .font-semibold();
        display: block;
        text-align: center;
        color: @white;
        font-size: 2rem;
    }
}
