@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}
html * {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  outline: none;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  /* max-width: 1920px; */
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
body > h1 {
  position: absolute;
  left: -10000px;
}
.screenReaderElement {
  position: absolute;
  left: -10000px;
}
.container {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
  margin-left: auto;
  margin-right: auto;
  width: 1420px;
  padding-left: 10px;
  padding-right: 10px;
}
.container:before {
  content: "";
  display: table;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
a {
  color: #000000;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
b {
  font-weight: bold;
}
em {
  font-style: italic;
}
/* Využití v případě lightbox.js https://github.com/lokesh/lightbox2/ */
/* Využití v případě Bootstrap modal */
/* Využití v případě knihovny select2 */
/* Využití v případě swipe.js */
input[type=radio] {
  display: none;
}
input[type=checkbox] {
  display: none;
}
.form-wide {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
}
.form-wide:before {
  content: "";
  display: table;
}
.form-wide:after {
  content: "";
  display: table;
  clear: both;
}
.form-side {
  display: block;
  width: 50%;
  float: left;
}
.form-side:nth-child(1) {
  padding-right: 10px;
}
.form-side:nth-child(2) {
  padding-left: 10px;
}
.form-side:only-child {
  width: 100%;
  float: none;
  padding-left: 0;
  padding-right: 0;
  clear: both;
}
/*
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
     display: none; <- Crashes Chrome on hover 
    -webkit-appearance: none;
    margin: 0;  <-- Apparently some margin are still there even though it's hidden 
}
*/
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}
header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
  animation: 0.5s ease-out 0s 1 hslide1;
}
header .logo {
  display: table;
  float: left;
}
header .logo .logo-img {
  display: table-cell;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/logo-orange.svg");
}
header .logo span {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
  font-size: 3.5rem;
  color: #ffffff;
}
header .menu {
  display: table;
  float: right;
  height: 44px;
  position: relative;
}
header .menu .btn {
  display: table-cell;
  vertical-align: middle;
}
header .menu .menu-open {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: table-cell;
  color: #ffffff;
  font-size: 2rem;
  height: 44px;
  text-align: center;
  width: 44px;
  vertical-align: middle;
  transition: 0.4s all ease-in-out;
}
header .menu .menu-open.active {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
header .menu ul {
  display: none;
  position: absolute;
  right: 0;
  top: 100px;
  width: 200px;
  background-color: #ffffff;
}
header .menu ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  transition: 0.2s all ease-in-out;
}
header .menu ul li:hover a {
  background: #ffb20f;
  background: linear-gradient(130deg, rgba(255, 178, 15, 0.1) 0%, rgba(255, 45, 94, 0.1) 100%);
}
@keyframes slide1 {
  0% {
    margin-right: -50px;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes slide2 {
  0% {
    margin-left: -150px;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    margin-left: 25px;
    opacity: 1;
  }
}
@keyframes slide3 {
  0% {
    opacity: 0;
    margin-top: 200px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 100px;
  }
}
@keyframes slide4 {
  0%,
  75% {
    right: 50%;
    left: 50%;
  }
  100% {
    right: 35%;
    left: 35%;
  }
}
footer {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
footer .footer-filter {
  width: 100%;
  height: 100%;
  background: #090c14;
  background: linear-gradient(180deg, #090c14 0%, rgba(9, 12, 20, 0.22592787) 30%, rgba(9, 12, 20, 0) 100%);
}
footer .footer-content-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: space-between;
  text-align: center;
}
footer .footer-content-wrap .block {
  display: block;
  margin: auto;
  width: 45%;
  flex-basis: 45%;
  text-align: center;
}
footer .footer-content-wrap .block .mg {
  margin-bottom: 15px;
}
footer .footer-content-wrap .block ul {
  list-style: none;
}
footer .footer-content-wrap .block ul li {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 25px;
}
footer .footer-content-wrap .block ul li:hover:after {
  opacity: 1;
  bottom: -25px;
}
footer .footer-content-wrap .block ul li:after {
  content: "Copy to clipboard";
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  bottom: -20px;
  opacity: 0;
  z-index: 10;
  width: 150px;
  background-color: #ff2d5e;
  transition: 0.3s all ease-in-out;
}
footer .footer-content-wrap .block h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 4rem;
  margin-bottom: 15px;
}
footer .footer-content-wrap .block p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  line-height: 1.5em;
}
footer .footer-content-wrap .block p a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #ff2d5e;
  transition: 0.2s all ease-in-out;
}
footer .footer-content-wrap .block p a:hover {
  filter: brightness(150%);
}
.sec-intro {
  display: block;
  min-height: 600px;
  height: 100vh;
  width: 100%;
  z-index: 200;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 0;
}
.sec-intro .tp {
  display: block;
  position: absolute;
  width: 60px;
  height: 40px;
  left: 50%;
  bottom: 50px;
  color: #ffffff;
  text-align: center;
  transform: translate(-50%, 0);
  transition: 0.2s all ease-in-out;
}
.sec-intro .tp:hover {
  bottom: 45px;
}
.sec-intro .intro-filter {
  width: 100%;
  height: 100%;
  background: #000000;
  background: linear-gradient(180deg, rgba(9, 12, 20, 0) 0%, rgba(9, 12, 20, 0.35) 40%, rgba(9, 12, 20, 0.5) 80%, #090c14 100%);
}
.sec-intro .intro-filter .content {
  padding-top: 20%;
  text-align: center;
}
.sec-intro .intro-filter .content h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 15rem;
  text-align: center;
  color: #ffffff;
  margin-right: 0;
  animation: 1.5s ease-in-out 0s 1 slide1;
}
.sec-intro .intro-filter .content h2:after {
  content: "";
  display: inline-block;
  margin-left: 25px;
  animation: 1.5s ease-in-out 0s 1 slide2;
  width: 120px;
  height: 120px;
  margin-bottom: -25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/logo-orange.svg);
}
.sec-intro .intro-filter .content h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 5rem;
  margin-bottom: 30px;
}
.sec-intro .intro-filter .content h3 strong {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
.sec-intro .intro-filter .content .fade {
  display: block;
  position: relative;
  margin-top: 100px;
  animation: 2s ease-in-out 0s 1 slide3;
}
.sec-intro .intro-filter .content .fade:before {
  content: "";
  display: block;
  position: absolute;
  top: -45px;
  right: 35%;
  left: 35%;
  height: 3px;
  background-color: #ffffff;
  animation: 2.5s ease-in-out 0s 1 slide4;
}
.sec-intro .intro-filter .content span {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  display: block;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 50px;
}
.button {
  display: block;
  text-align: center;
}
.button .btn {
  display: inline-block;
  height: unset;
}
.button a {
  display: inline-block;
}
a.linkline {
  position: relative;
}
a.linkline:hover:after {
  bottom: -5px;
  opacity: 1;
}
a.linkline:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 5px;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  background-color: #ffffff;
}
.btn {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  display: block;
  font-size: 1.8rem;
  padding: 15px 30px;
  transition: 0.2s all ease-in-out;
}
.btn span {
  vertical-align: middle;
}
.btn:hover {
  -webkit-box-shadow: 0px 2px 62px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 62px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 62px 1px rgba(0, 0, 0, 0.3);
}
.btn.btn-orange {
  color: #ffffff;
  background: #ffb20f;
  background: linear-gradient(130deg, #ffb20f 0%, #ff2d5e 100%);
}
.btn.btn-orange i {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  transition: 0.2s all ease-in-out;
}
.btn.btn-donate {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #ffb20f;
}
.btn.btn-donate:hover {
  -webkit-box-shadow: 0px 2px 25px 1px rgba(255, 178, 15, 0.2);
  -moz-box-shadow: 0px 2px 25px 1px rgba(255, 178, 15, 0.2);
  box-shadow: 0px 2px 25px 1px rgba(255, 178, 15, 0.2);
}
.title-line {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  display: block;
  position: relative;
  font-size: 6rem;
  color: #ffffff;
  padding-bottom: 50px;
  text-align: center;
}
.title-line:after {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  content: "";
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 75px;
  background-color: #ffffff;
}
.sec-content {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
  display: block;
  background-color: #090c14;
}
.sec-content:before {
  content: "";
  display: table;
}
.sec-content:after {
  content: "";
  display: table;
  clear: both;
}
.sec-content .content-block-imagine {
  padding-top: 200px;
  margin-bottom: 250px;
}
.sec-content .content-block-imagine p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding: 5px 0;
  color: #ffffff;
  text-align: center;
  font-size: 3.2rem;
}
.sec-content .content-block-imagine p:last-of-type {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
}
.sec-content .content-block-perks {
  margin-bottom: 250px;
}
.sec-content .content-block-perks h2 {
  margin-bottom: 25px;
}
.sec-content .content-block-perks p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 1.6rem;
}
.sec-content .content-block-perks ul {
  display: flex;
  width: 65%;
  margin: auto;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  text-align: center;
}
.sec-content .content-block-perks ul li {
  display: inline-block;
  width: 300px;
  flex-basis: 300px;
  color: #ffffff;
}
.sec-content .content-block-perks ul li .icon {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 10px;
}
.sec-content .content-block-perks ul li .icon i {
  background: -webkit-linear-gradient(top left, #ffb20f, #ff2d5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-content .content-block-perks ul li h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.dot-list {
  list-style: none;
}
.dot-list li {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  display: block;
  position: relative;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 15px;
  padding-left: 40px;
}
.dot-list li:before {
  content: "";
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}
.downloads {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
  display: block;
  min-height: 600px;
  padding-bottom: 150px;
  background-color: #090c14;
}
.downloads:before {
  content: "";
  display: table;
}
.downloads:after {
  content: "";
  display: table;
  clear: both;
}
.downloads span {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 50px;
}
.downloads span:nth-of-type(2) {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.downloads ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}
.downloads ul li {
  display: block;
  width: 24%;
  flex-basis: 24%;
  color: #ffffff;
  text-align: center;
}
.downloads ul li h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
  margin-bottom: 15px;
}
.downloads ul li h3 i {
  background: -webkit-linear-gradient(top left, #ffb20f, #ff2d5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.downloads ul li .btn.btn-donate {
  padding: 7px 12px;
}
.downloads .button {
  margin-bottom: 30px;
}
.downloads .button a {
  color: #ffffff;
}
.downloads p {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}
.downloads p strong {
  color: #ff2d5e;
}
.single-content {
  background-color: #090c14;
  padding-bottom: 100px;
  color: #ffffff;
}
.single-content .container {
  width: 50%;
}
.single-content .single-heading {
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.single-content .single-heading .box {
  display: block;
  float: left;
  width: 25%;
  flex-basis: 25%;
}
.single-content .single-heading .box:first-of-type {
  padding-top: 25px;
}
.single-content .single-heading .box:last-of-type {
  width: 75%;
  flex-basis: 75%;
}
.single-content .single-heading .box .date {
  display: block;
  text-align: center;
}
.single-content .single-heading .box .author-pic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  overflow: hidden;
  margin: auto;
}
.single-content .single-heading .box .author-pic .pic {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.single-content .single-heading .box .author {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 10px;
}
.single-content .single-heading .box .title {
  text-align: left;
  font-size: 6rem;
  margin-bottom: 30px;
}
.single-content .single-heading .box .excerpt {
  text-align: left;
  font-size: 2rem;
}
.single-content .single-article {
  margin-top: 150px;
}
.single-content .single-article .text-wrap {
  display: block;
  margin: auto;
  color: #ffffff;
  padding-bottom: 75px;
  margin-bottom: 75px;
}
.single-content .single-article .text-wrap h2,
.single-content .single-article .text-wrap h3,
.single-content .single-article .text-wrap h4,
.single-content .single-article .text-wrap h5,
.single-content .single-article .text-wrap h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  display: block;
  text-align: left;
  color: #ffffff;
  margin-bottom: 40px;
}
.single-content .single-article .text-wrap h2 {
  font-size: 4rem;
}
.single-content .single-article .text-wrap h3 {
  font-size: 3.4rem;
}
.single-content .single-article .text-wrap h4 {
  font-size: 3rem;
}
.single-content .single-article .text-wrap h5 {
  font-size: 2.6rem;
}
.single-content .single-article .text-wrap h6 {
  font-size: 2.2rem;
}
.single-content .single-article .text-wrap p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  display: block;
  margin-bottom: 25px;
  font-size: 2rem;
  line-height: 1.8em;
}
.single-content .single-article .text-wrap a {
  color: #ff2d5e;
  transition: 0.2s all ease-in-out;
}
.single-content .single-article .text-wrap a:hover {
  filter: brightness(150%);
}
.single-content .single-article .text-wrap hr {
  margin: 25px 0;
  border-color: #ff2d5e;
}
.single-content .single-article .text-wrap img {
  display: block;
  width: 100%;
  margin: 50px 0;
}
.single-content .single-article .text-wrap ul,
.single-content .single-article .text-wrap ol {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  list-style: none;
}
.single-content .single-article .text-wrap ul li,
.single-content .single-article .text-wrap ol li {
  list-style: none;
  position: relative;
  font-size: 1.6rem;
  padding-left: 30px;
  margin-bottom: 25px;
}
.single-content .single-article .text-wrap ul li:before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #ff2d5e;
}
.single-content .single-article .text-wrap ol li {
  counter-increment: ol;
}
.single-content .single-article .text-wrap ol li:before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  content: counter(ol) ". ";
  display: block;
  font-size: 1.6rem;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 3px;
  top: 0px;
  color: #ff2d5e;
}
@media screen and (max-width: 1300px) and (min-width: 0px) {
  .container {
    width: 948px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 0px) {
  .container {
    width: 748px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 767px) and (min-width: 0px) {
  .container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
